body{
    background-color: #0f0f0f ;
}
.container{
    background-color: rgba(128, 128, 128, 0.404);
    width: 500px;
    height: 500px;
}
.key{
    width: 150px;
    height: 150px;
    padding-top: 60px
    ;
    
}
.paragraph-pwd{
    font-size: 25px;
    color: #fff;
}
input{
    outline: none;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid gray;
    background-color: #0f0f0f56;
}
.btn{
    outline: none;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid gray;
    cursor: pointer;
}
.f-pwd{
    color: #fff;
}
center{
    align-items: center;
}
.align-elements{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.pwd-request{
    color: white;
    font-size: 15px;
}
.f-pwd{
   color: rgba(128, 128, 128, 0.925);
}